body {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size:2em;
}
.sidebar {
border-right: 1px solid;
overflow:hidden;
overflow-y:scroll;
height: 92vh;
cursor: default;

}
.sidebar ul {
  list-style-type: none;
  font-size:1em;
}

.sidebar ul li:hover {
background-color: #EEE;

}

.cardindex h1, .home, .about, .spreads {
  text-align:center;
}

.card-image {
	float:left;
}

.cardspace {
  margin-top:3%;
}
.card-place h2, .cardtitle h2 {
  text-decoration: underline;
  text-align:center;
}

.card-place h3 {
	text-decoration: underline;
}

.card-place p {
  line-height: 2.5em;
  font-size: 1em;
}

.history, .interpretation {
  margin-top:6%;
  /*text-align:justify;*/

}
