body {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size:2em;
  cursor: default;
}

section {
    min-height:92vh;
}
/*&&&&*/
.home {
  height:90vh;
}

.subtitle {
  margin-top:5%;
  letter-spacing: 0.5em;
}

.magician {
  margin-top:5%;
}

/*&&&&&*/

.cardindex {
overflow:hidden;
overflow-y:scroll;
height: 92vh;

}

.sidebar {
border-right: 1px solid;
overflow:hidden;
overflow-y:scroll;
height: 100vh;
cursor: default;

}
.sidebar ul {
  list-style-type: none;
  font-size:1em;
  padding-left:0;
 }


.sidebar ul li {
  padding: 4px 0 4px 0;
}

.sidebar ul li:hover {
background-color: hsla(216, 100%, 50%, 0.1);

}

.sidebar select {
  margin-top:10%;
}

.cardsingle h1, .home, .about .row, .spreads h2, .spreads .row .col-xs-3, .threecard, .celtic-cross, .tree-of-life{
  text-align:center;
}


/*/////*/

.spread-title {
  margin-top:-5%;
  margin-bottom:3%;
}

.overlay {
  position:absolute;
  left:40%;
  width:55%;
  top:15%;
  text-align: left;
  font-size:0.8em;
  height:100%;
  background-color: transparent;
  /*border: 1px solid;*/
  opacity:0;
  visibility:hidden;

}

.position-in-spread {
  margin-top:10%;
}

/*/////*/


.card-image {
	float:left;
}

.cardspace {
/*  margin-top:1%;*/
}
.card-place h2, .cardtitle h2 {
  text-decoration: underline;
  text-align:center;
}
.cardtitle h2 {
  margin-bottom:4%;
}

.card-place h3 {
	text-decoration: underline;
}

.card-place p {
  margin-top:1%;
  line-height: 2em;
  font-size: 1em;
}

.back-button {
  background-color: hsla(216, 100%, 50%, 0.1);
/*background-color: transparent;*/
  color:black;
  font-size:0.8em;
  border-style: none;
  margin-bottom: 3%;
  margin-top: 2%;
}

/*/////*/

.card-in-stack {
  display:inline-block;
}

.card-in-stack:hover {
background-color: hsla(216, 100%, 50%, 0.1);

}

.cardindex h1 {
  text-decoration: underline;
  margin-bottom:2%;
  margin-top:4%;
}

.cardindex h2 {
  text-align:center;
  margin-bottom:2%;
}

.cardindex .title, .spreads .title {
  font-size:4em;
    text-decoration: none;
    margin-bottom:4%;
}

/**/

.history, .interpretation {
  margin-top:6%;
  /*text-align:justify;*/

}

/*/////*/
.about {
  overflow:hidden;
overflow-y:scroll;
/*min-height: 92vh;*/
}

.about-exp p {
  text-align:justify;
  font-size:0.9em;
  line-height:2em;
  text-indent: 50px;
  margin-top:2%;
  margin-left:20%;
  margin-right:20%;
}
.about ul li{
  text-align:center;
  /*font-size:1.3em;*/
  line-height:2em;
  list-style-type: none;
  /*text-indent: 50px;*/
  margin-top:2%;
  margin-left:20%;
  margin-right:20%;
}

.about .vid {
  margin: 30px;
}

.special-word {
color: hsla(216, 45%, 50%, 0.9);
}

.fill {
  min-height:50px;
}
.footer {
  position: absolute;
  bottom: 0;

  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 05px;*/
  background-color: #f5f5f5;
  font-size:0.7em;
  text-align:center;
  font-family:courier new;
}
