<section class="about">
    <blockquote>
        <h2>We can predict the <span class="special-word">future</span> when we know how the <span class="special-word">present</span> moment has evolved out of the <span class="special-word">past</span>.</h2>
        <footer>
            <cite>Carl Gustav Jung </cite>
        </footer>
    </blockquote>
    <!-- <div class="embed-responsive"> -->
    <iframe class="vid embed-responsive-item" width="490" height="306" src="https://www.youtube.com/embed/FfNKdI6iPJE" allowfullscreen></iframe>
    <div class="row about-exp">
    <div class="col-xs-12">
        <p>
            THE Tarot, which <a href="https://en.wikipedia.org/wiki/Tarot#History" target="_blank" alt="Tarot History on Wikipedia">started out as a card game </a>and at some point in the 19th century also became the most popular form of <a href="https://en.wikipedia.org/wiki/Cartomancy" target="_blank" alt="Cartomancy on Wikipedia">cartomancy</a>, has a bit of a understandably sketchy reputation among those who consider themselves "rational" thinkers. In dismissing out-of-hand all that isn't scientifically measurable, many of such ilk tend to throw the baby out with the bathwater - and ignore a viable tool of self-discovery, a symbol-based gateway to a lifetime of inner exploration, deep dialogue and hidden personal truths.</p>
        <p>ALONGSIDE the self-appointed prophets, the card-readers and the charlatans, there exists a parallel narrative for modern Tarot usage; one that realizes the dependence of the human psyche on symbols and those symbols' priceless role in communicating with one's subconscious. </p>
        <p>
            THE Tarot can be a viable tool for self-discovery, if used as such. It can point the way not by evoking guiding spirits or channeling the Oracles of yore, but by presenting one with inner truths that may be difficult or impossible to come by via other means. Consult it on your own terms, <i>not</i> as you would a magic crystal, but as you would a good friend or a trusted analyst, and you might be surprised by what you find out.</p>
        <h3>About TheTarot.Site</h3>
        <p>THIS is a mere introduction to the <a href="https://en.wikipedia.org/wiki/Rider-Waite_tarot_deck" target="_blank" alt="RWS on wiki">Rider-Waite-Smith Tarot Deck</a>, which is the most popular Tarot deck in use today and is often considered the 'baseline' of modern Tarot. While many decks offer alterantive visuals, interpretations and symbolicism, the basic organizational patterns of the Tarot remains largely identical and traditional interpretations are often derived from the RWS deck.</p>
        <p>THIS effort is scarcely more than an incomplete, introductory drop in the ocean; for a proper survey of the Tarot, here are a few books which I've either benefited greatly from reading, or are very high on my reading list because of their established, great reputation:
            <ul>
                <li><a href="http://www.amazon.com/Seventy-Eight-Degrees-Wisdom-Book-Tarot/dp/1578634083" target="_blank" alt="78-deg-wisdom-amazon">Seventy-Eight Degrees of Wisdom</a> by Rachel Pollack</li>
                <li><a href="http://www.amazon.com/New-Tarot-Handbook-Master-Meanings/dp/0738731900/ref=asap_bc?ie=UTF8" target="_blank" alt="new-tarot-handbook-rachel-pollack">The New Tarot Handbook: Master the Meanings of the Cards </a>by Rachel Pollack</li>
                <li><a href="http://www.amazon.com/Way-Tarot-Spiritual-Teacher-Cards/dp/1594772630/ref=sr_1_3?s=books&ie=UTF8&qid=1462835253&sr=1-3&keywords=tarot+jodorowsky" target="_blank" alt="Way-tarot-Jodorowsky-Amazon">The Way of Tarot: The Spiritual Teacher in the Cards</a> by Alejandro Jodorowsky</li>
                <li><a href="http://www.amazon.com/Pictorial-Tarot-Arthur-Edward-Waite/dp/1864767669/ref=sr_1_6?s=books&ie=UTF8&qid=1462835367&sr=1-6&keywords=keys+rider+waite" target="_blank" alt="pictorial-key-waite">The Pictorial Key to the Tarot</a> by Arthur Edward Waite</li>
                <li><a href="http://www.amazon.com/Tarot-Revealed-Modern-Guide-Reading/dp/B00454UW8C/ref=sr_1_6?s=books&ie=UTF8&qid=1462835418&sr=1-6&keywords=eden+gray" target="_blank" alt="eden-gray-tarot-revealed-amazon">The Tarot Revealed: A Modern Guide to Reading the Tarot Cards</a> by Eden Gray</li>
                <li>And of course, the <a href="http://www.amazon.com/Rider-Tarot-Arthur-Edward-Waite/dp/091386613X/ref=pd_sim_14_1?ie=UTF8&dpID=51V5tMtRkmL&dpSrc=sims&preST=_AC_UL320_SR202%2C320_&refRID=1WD49A3H9Z50EE331K23" target="_blank" alt="RWS on amazon">RWS deck</a> itself is a great place to start.</li>
        </ul>
        </p>
        <p>MANY of these books, and especially the older ones, are incredibly opinionated. As you'll find, the cards are so loaded with symbolism that oftentimes more than one interpretation is available (although never just <i>any</i> interpretation. There are rules, traditions and common sense to this practice). The common advice in reading the Tarot is to go with the meanings that make personal sense and 'click' internally. If you approach the process with an opn heart and an inquisitive mind, you are bound to 'get it right'.</p>
    </div></div>
    <custom-footer></custom-footer>
</section>
