<section class="cardsingle" ng-controller="cardsingle">
       <button type="primary" class="btn btn-primary back-button" ui-sref="cardindex"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back to Index</button>
<single-card deck="deck"></single-card>
<div class="footer">
  <div class="container">
    <p class="text-muted">©All Rights Reserved to <a href="http://michaelhazani.com" alt="Michael Hazani's Website" target="_blank">Michael Hazani</a> except where Public Domain.</p>
  </div>
</div>
<custom-footer></custom-footer>
</section>
