<div id="sidebar"></div>
<h1>The cards</h1>
<div ng-controller="sidebar as sidebar">
<select class="form-control" ng-model="filtercard" placeholder="Filter by suit" aria-label="filter cards" />
<option value="" >All Cards</option>
<option>Major Arcana</option>
<option>Wands</option>
<option>Swords</option>
<option>Cups</option>
<option>Pentacles</option>
</select>
<ul class="card-list" ng-repeat="card in deck | filter: {suit:filtercard}">
<li ng-click="sidebar.focusOn(card)" ui-sref="cardindex"> {{card.name}}</li>
</ul>
</div>
