<section class="threecard" ng-controller="ThreeCardTimelineCtrl as threecardtimeline">
    <div class="row">
        <div class="col-xs-12">
            <h2>3 Card Spread - Timeline</h2>
            <div id="container-three-tl" ng-mousemove="mouseMove($event)" ng-click="mouseClick($event)"></div>
<div class="overlay">
    <h4>{{deck.activeCard.name}}</h4>
    <p ng-bind-html="deck.activeCard.PKT">{{deck.activeCard.PKT}}</p>
    <h3 class="position-in-spread">Position</h3>
    <p>In the Three Card Timeline Spread, this position denotes {{deck.activeCard.posInfo}}.</p>
            </div>
        </div>
    </div>
</section>
